@font-face
	font-family: 'Comfortaa'
	font-style: normal
	font-weight: 400
	src: url("/asset/fonts/Comfortaa-Regular.woff2") format('woff2')

@font-face
	font-family: 'Comfortaa'
	font-style: normal
	font-weight: 700
	src: url("/asset/fonts/Comfortaa-Bold.woff2") format('woff2')

