@font-face
	font-family: 'icomoon'
	src: url('/asset/fonts/icomoon.woff2') format('woff2')
	font-weight: normal
	font-style: normal

[class^="icon-"], [class*=" icon-"]
	font-family: 'icomoon' !important
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	text-decoration: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-cake:before
	content: "\e900"

.icon-discord:before
	content: "\e901"

.icon-github:before
	content: "\e902"

.icon-steam:before
	content: "\e903"

.icon-twitter:before
	content: "\e904"

.icon-mail:before
	content: "\e905"

.icon-transgender:before
	content: "\e906"

.icon-marker:before
	content: "\e907"

.icon-bitcoin:before
	content: "\e908"

.icon-web:before
	content: "\e909"
